:root {
    --background-color: #f0f0f0;
    --text-color: #2c2731;
    --muted-color: #474649;
    --accent-color: #f23451;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}



::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #c5c5c8;
}

::-webkit-scrollbar-thumb:hover {
    background: #a0a0a0;
}